doctype html
html(lang="en")
	title ToDo list
	script(defer src='./scripts.js')
	body
		input(type='text' id='taskInput' placeholder='Что вы хотите сделать?')
		input(type='button' value ='Add' id='button')
		ul(id='toDoList')
				