body
	font-family 'Marck Script', cursive !important
	font-size 20px !important
	margin 0
html
	font-size 20px !important
	line-height 1.6 !important
	
.newToDo
	background-color #333
	padding 10px 25px
	text-align center
	color #ccc
	min-height 100vh
	&__input
		display block
		font-size 2rem
		width 60%
		height 40px
		border 1px solid #fff
		margin 25px auto
		border-radius 40px
		text-align center
		background-color #ccc
		color #000
		&:focus
			border 1px solid #c70000
			outline none
	&__list
		border 2px dotted green 
		border-radius 25px
		list-style-type none
		padding 10px 15px
		text-align center
		&Item
			margin 0 15px
			text-align left
			max-height 50px
			position relative
			background-color #dd0
			border-radius 50px
			margin 10px auto
			border 2px dotted green
			color black
			cursor move 	
		&Button
			position absolute
			right 0
			max-width 6%
		&Label
			font-size 1.5rem
			line-height 1.7
		&Header
			margin 5px auto

.newDoing
	&__list
		border 2px dotted orange 
		border-radius 25px
		padding 10px 15px
		list-style-type none
		padding-left 0px
		&Item
			margin 0 15px
			text-align left
			max-height 50px
			position relative
			background-color #dd0
			border-radius 50px
			margin 10px auto
			border 2px dotted orange
			color black
			cursor move 	
			

.newDone
	&__list
		border 2px dotted blue 
		border-radius 25px
		padding 10px 15px
		list-style-type none
		padding-left 0px
		&Item
			margin 0 auto
			max-height 50px	
			text-align left
			position relative
			background-color #f0fff0
			border-radius 50px
			margin 10px auto
			border 2px dotted blue
			color black
			cursor move
			text-decoration line-through

.emptySpace 
	height 50px
	border-radius 50px
	border 2px dotted red
	

.newToDo__listCheckbox
	display none   

.newToDo__listCheckbox + .newToDo__listLabel:before 
	content '\2713'
	position relative
	top 5px
	display inline-block
	margin-right 15px
	color green
	font-size 40px
	line-height 30px
	-webkit-transform scale(0)
	transform scale(0)
	-webkit-transition 0.3s
	transition 0.3s



.newToDo__listCheckbox:checked + .newToDo__listLabel:before 
	-webkit-transform scale(1)
	transform scale(1)